# Arquivos de classe java no diretório raiz #
*.class

# Mobile e J2ME #
.mtj.tmp/

# Arquivos compilados #
*.jar
*.war
*.ear

# Pastas do Netbeans #
/Gastock/nbproject/private/
/Gastock/build/
/Gastock/nbbuild/
/Gastock/dist/
/Gastock/nbdist/
/Gastock/nbactions.xml
/Gastock/nb-configuration.xml
